p.h {
    font-family: 'Rock Salt';
    font: 40.0px Rock Salt;
    padding-left:15px
}

p.p {
    font-family: 'Ubuntu';
    font: 14.0px Ubuntu;
    padding-left:10px
}

p.m {
    font-family: 'Ubuntu';
    font: 8px Ubuntu;
    padding-left: 10px;
    font-style:italic
}

a {
    color:#000000
}

a:hover {
    background-color:#00ADBA;
    color:#FFFFFF
}